.card {
  padding: 30px;
  position: relative;
  .price .cost {
    font-weight: 600;
    font-size: 12px;
    line-height: 13.2px;
  }

  .rating-section {
    .rating,
    .raters,
    .country {
      color: #918e9b;
    }
  }

  .badge{
    position: absolute;
    top: 36px;
    left: 36px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
  }
}
